<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.codenova.start.repository.CommentRepository">
<insert id="create" parameterType="comment">
    insert into comments (iso_code, body, writed_at)
    values (#{isoCode}, #{body}, now())
</insert>
    <select id="findByIsoCode" resultType="comment" parameterType="string">
        select * from comments where iso_code=#{isoCode}
    </select>
    <select id="countByIsoCode" parameterType="string" resultType="int">
        select count(*) from comments where iso_code=#{isoCode}
    </select>
</mapper>